


<app-scrollable-view-pane>  
<div class="vbox container">
  
  <div clss="hbox">
    
  <div class="menu-maker-box">
    <h4>Menu Maker</h4>
      <br/>
        <p class="instruction-textbox">
          Select the date and line then add items to the menu.
        </p>
    </div>
    <div class="">
      <app-date-picker></app-date-picker>
    </div>
    
    <div class="line-picker">
    <app-line-picker></app-line-picker>
    </div>
</div><!--hbox-->

<div class="hbox">

    <div class="">
    <span><h2>Breakfast</h2>
    <app-complex-box></app-complex-box>
  </span>
  
  </div>
  
  <div class="">
    <h2>Lunch</h2>
    <app-complex-box></app-complex-box>
  </div>
  <div class="">
    <h2>Dinner</h2>
    <app-complex-box></app-complex-box>
  </div>

</div>


</div>
</app-scrollable-view-pane>


