
.container
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: fit-content;
width: 100%;
flex-wrap: wrap;
/* overflow: auto;
overflow-x: hidden;
overflow-y: hidden; */
}
@media (max-width: 600px)
{
  .container
  {
    width: 100%;
    height: 400px;

  }

}

.line-picker
{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content; */
}
.hbox
{
display: flex;
flex-direction: row; /* Align items horizontally */
flex-wrap: wrap;
overflow: auto;
justify-content: center;
align-items: center;
height: fit-content;
width: fit-content;

}

.vbox
{
display: flex;
flex-direction: column; /* Align items vertically */
flex-wrap: wrap;

/* overflow: auto; */
height: fit-content;
overflow-y: hidden; 
overflow-x: hidden; 

}

.instruction-textbox
{
  text-wrap: wrap;
  
}

.menu-maker-box
{
  border: 1px solid #555;
 
 
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.651);  
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  
}