/* Yo%u can add global styles to this file, and also import other style files */
html, body {
    
    background: linear-gradient(to right, #444, #494949, #444);
    color: rgb(250, 248, 248);
    border-radius: 10px;
}

body .bs-datepicker-head {
    background-color: #555;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #474747c2;
    /* background: repeating-linear-gradient(to right, #333, #444444be, #333); */
    /* background: radial-gradient(circle, #2b2d44cb, #161b38d7); */
    background: repeating-linear-gradient(to bottom, #0f1327d7, #2b2d44cb, #0f1327d7);
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.651);  
  }
  body .bs-datepicker-container .bs-datepicker-head * {
    color: white;
    user-select: none;
  }
select {
  background-color: #444;
  color: white;
  font-size: 14pt;
  height: 30px;
  border-radius: 5px;
}

  body .bs-datepicker-body {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid #474747c2;
    background-color: #555;
    background: repeating-linear-gradient(to left, #333, #444444, #333)
    
  }
  
  body .bs-datepicker-body .ng-star-inserted
  {
    user-select: none;
  }
  body .bs-datepicker-body * {
    border-radius: 10px;
    color: white;
    background: repeating-linear-gradient(circle, #333, #555, #444, #555, #333);
    user-select: none;   
    
  }
  body .bs-datepicker-container {
    z-index: 5050;
    border-radius: 10px;
    
  }
  
 
  .bs-datepicker-container{
    
  }
  /* body .ng-star-inserted:hover
  {
      
    color: black;
  } */
  .bs-datepicker-body{
    border-radius: 10px;
    border: 2px solid #474747c2;
    background-color: #333333; /* or the background color you want */
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.651);  
    user-select: none;
    color: white;
    .ng-star-inserted:hover
    {
        
      color: black;
      user-select: none;
      
    }

  }
  .bs-datepicker {
    color: white;
    background-color: #77777700;
  box-shadow: none;
  user-select: none;
  }
  /* .bs-datepicker
{
background-color: #33333300;
box-shadow: none;

} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
