.overlay {
  /* Position relative to the parent */
  position: absolute;
  /* top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
   */
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.877); /* Darker overlay */
  /* Adjust the opacity as needed */
  backdrop-filter: blur(5px);
  /* Adjust the blur radius as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000; /* Ensure it's on top */
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;

  &:hover {
    color: rgba(181, 193, 233, 0.897);
  }

}

.add-item-dialog-container {
  background-color: #333; /* Darker background for contrast */
  border: 1px solid white;;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.938);
  width: fit-content;
  height: fit-content;
  min-width: 200px;
  min-height: 100px;
  animation: fadeIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  /* Adjust the blur radius as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}