<div class="flex-container">
    <div class="vbox">
    <div class="hbox">
        <app-complex-box></app-complex-box>
        <!--<div class="requisition-list flex-item">

    </div> -->
    <app-complex-box></app-complex-box>
    <div class="requisition-editor flex-item">



    </div>
</div>
    <div class="requisition-button-bar flex-item">
                
        <button>Test1</button><button>Test2</button><button>Test3</button>    
    
    
    </div>

</div>
</div><!-- flex-container -->
